---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Eseguire la ricerca per categorie:] Pubblicare e analizzare i risultati dei Test? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894896"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Eseguire la ricerca per categorie:] Pubblicare e analizzare i risultati dei Test?
====================
da [feed di Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database del progetto Team Foundation Server e associare i risultati a un numero di build. Vediamo dopo i risultati sono stati pubblicati è possibile utilizzare Gestione Report per visualizzare una rappresentazione grafica delle modifiche nei risultati del test compilazione.

[&#9654;Guardare video (7 minuti)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Precedente](how-do-i-use-generic-tests.md)
> [Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)
