---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Eseguire la ricerca per categorie:] Pubblicare e analizzare i risultati dei Test? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894896"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="7562e-105">[Eseguire la ricerca per categorie:] Pubblicare e analizzare i risultati dei Test?</span><span class="sxs-lookup"><span data-stu-id="7562e-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="7562e-106">da [feed di Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="7562e-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="7562e-107">Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto.</span><span class="sxs-lookup"><span data-stu-id="7562e-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="7562e-108">In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database del progetto Team Foundation Server e associare i risultati a un numero di build.</span><span class="sxs-lookup"><span data-stu-id="7562e-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="7562e-109">Vediamo dopo i risultati sono stati pubblicati è possibile utilizzare Gestione Report per visualizzare una rappresentazione grafica delle modifiche nei risultati del test compilazione.</span><span class="sxs-lookup"><span data-stu-id="7562e-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="7562e-110">&#9654;Guardare video (7 minuti)</span><span class="sxs-lookup"><span data-stu-id="7562e-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="7562e-111">[Precedente](how-do-i-use-generic-tests.md)
> [Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="7562e-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
