---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Eseguire la ricerca per categorie:] Pubblicare e analizzare i risultati dei Test? | Microsoft Docs'
author: rick-anderson
description: "Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: it-IT
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Eseguire la ricerca per categorie:] Pubblicare e analizzare i risultati dei Test?
====================
da [feed di Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System consente alle modifiche del grafico nella qualità del codice del progetto nel corso del progetto. In questo video vengono fornite istruzioni su come pubblicare i risultati dei test nel database del progetto Team Foundation Server e associare i risultati a un numero di build. Vediamo dopo i risultati sono stati pubblicati è possibile utilizzare Gestione Report per visualizzare una rappresentazione grafica delle modifiche nei risultati del test compilazione.

[&#9654; Guardare video (minuti 7)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[Precedente](how-do-i-use-generic-tests.md)
[Successivo](how-do-i-discover-application-changes-prior-to-deployment.md)
